@import 'bourbon/bourbon';

@include font-face("Fontello", "fonts/fontello");
@include font-face("AkkuratMono", "http://assets.paperjs.org/fonts/akkurat-mono");

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'Fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;

	// For safety - reset parent styles, that can break glyph codes.
	font-variant: normal;
	text-transform: none;

	// Fix buttons height, for twitter bootstrap.
	line-height: 1em;
}

body,
html,
.paperscript {
	width: 100%;
	height: 100%;
}

body,
select,
input,
textarea {
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

body {
	background: #fff;
	margin: 0;
	font-size: 13px;
	line-height: 20px;
	color: #000;
	overflow: hidden;
}

select,
input,
textarea {
	font-size: 11px;
	margin: 0;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;

	&:hover {
		background: #e5e5e5;
	}
}

img {
	border: 0;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

// PaperScript

.paperscript {
	.gui {
		position: absolute;
		right: 0;
		z-index: 100;
		display: none;
	}

	.button,
	.info,
	.palettejs-pane {
		font-size: 11px;
		line-height: 16px;
		padding: 2px 6px;
		border-radius: 4px;
		margin: 8px 8px 0 0;
		background: #eee;
		float: right;
	}

	.button {
		float: left;
		font-size: 14px;
		line-height: 18px;
		border: 0;
	}

	.tools {
		float: right;

		.button {
			float: left;
		}
	}

	.gui-context:hover .gui {
		display: block;
	}

	.button {
		cursor: pointer;

		&:hover {
			background: #ddd;
		}

		&.active {
			background: #bbb;
		}
	}

	.source,
	.console {
		height: 100%;
	}

	.console {
		background: #f4f4f4;
		cursor: default;

		.content {
			color: #666;
			overflow: auto;
			height: 100%;
		}

		.line {
			white-space: pre-wrap;
			padding: 2px 10px;
			margin: 0;

			&:nth-child(even) {
				background: white;
			}
		}

		.error {
			color: #f30;
		}

		.warn {
			color: #f93;
		}
	}

	.canvas {
		line-height: 0; // prevent weird 5px padding under canvas elements
		overflow: hidden !important;

		canvas {
			width: 100%;
			height: 100%;
		}
	}

	&.split {
		.canvas {
			border: 0;
			border-top: 0;
		}
	}

	// Editor

	.ace_editor { 
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	.ace_gutter {
		border-right: 1px solid #999;
	}

	.ace_gutter-cell {
		padding-left: 14px; // enough space for errors and warnings

		&.ace_error,
		&.ace_warning {
			background-position: 0 center;
		}
	}

	// Fonts

	.ace_gutter,
	.ace_editor,
	.console .content {
		font-family: "AkkuratMono", Menlo, Consolas, "Vera Mono", monospace;
		font-size: 13px;
		line-height: 18px;
	}

	.ace_gutter-cell {
		font-size: 11px;
		line-height: 20px;
	}

	body.large & {
		.ace_editor,
		.ace_gutter,
		.console .content {
			font-size: 16px;
			line-height: 23px;
		}

		.ace_gutter-cell {
			font-size: 12px;
			line-height: 24px;
		}
	}
}

// Tools

.zoom {
	cursor: url('assets/zoom-in.png') 4 4, auto;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;

	&.zoom-out {
		cursor: url('assets/zoom-out.png') 4 4, auto;
		cursor: -webkit-zoom-out;
		cursor: zoom-out;
	}

	&.zoom-move {
		cursor: url('assets/grab.cur');
		cursor: -moz-grab;
		cursor: -webkit-grab;
		cursor: grab;
	}

	&.zoom-grab {
		cursor: url('assets/grabbing.cur');
		cursor: -moz-grabbing; 
		cursor: -webkit-grabbing;
		cursor: grabbing;
	}
}

// Splitter

.splitter_panel {
	position: relative;

	.hsplitter,
	.vsplitter {
	    background-color: #ddd;
	    z-index: 1000;
	}

	.vsplitter {
	    cursor: col-resize;
	    width: 3px;
	}

	.hsplitter {
	    cursor: row-resize;
	    height: 3px;
	}

	.vsplitter,
	.left_panel,
	.right_panel,
	.hsplitter,
	.top_panel,
	.bottom_panel {
		position: absolute;
		overflow: auto;
	}

	.vsplitter,
	.left_panel,
	.right_panel {
		height: 100%;
	}

	.hsplitter,
	.top_panel,
	.bottom_panel {
		width: 100%;
	}

	.top_panel,
	.left_panel,
	.vsplitter {
		top: 0;
	}

	.top_panel,
	.bottom_panel,
	.left_panel,
	.hsplitter {
		left: 0;
	}

	.bottom_panel {
		bottom: 0;
	}

	.right_panel {
		right: 0;
	}
}

