@font-face {
  font-family: "Fontello";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/fontello.eot");
  src: url("fonts/fontello.eot?#iefix") format("embedded-opentype"), url("fonts/fontello.woff") format("woff"), url("fonts/fontello.ttf") format("truetype"), url("fonts/fontello.svg#Fontello") format("svg"); }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em; }

body,
html,
.paperscript {
  width: 100%;
  height: 100%; }

body,
select,
input,
textarea {
  font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif; }

body {
  background: #fff;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  color: #000;
  overflow: hidden; }

select,
input,
textarea {
  font-size: 11px;
  margin: 0;
  color: #000; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000; }
  a:hover {
    background: #e5e5e5; }

img {
  border: 0; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.paperscript .gui {
  position: absolute;
  right: 0;
  z-index: 100;
  display: none; }
.paperscript .button,
.paperscript .info,
.paperscript .palettejs-pane {
  font-size: 11px;
  line-height: 16px;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 8px 8px 0 0;
  background: #eee;
  float: right; }
.paperscript .button {
  float: left;
  font-size: 14px;
  line-height: 18px;
  border: 0; }
.paperscript .tools {
  float: right; }
  .paperscript .tools .button {
    float: left; }
.paperscript .gui-context:hover .gui {
  display: block; }
.paperscript .button {
  cursor: pointer; }
  .paperscript .button:hover {
    background: #ddd; }
  .paperscript .button.active {
    background: #bbb; }
.paperscript .source,
.paperscript .console {
  height: 100%; }
.paperscript .console {
  background: #f4f4f4;
  cursor: default; }
  .paperscript .console .content {
    color: #666;
    overflow: auto;
    height: 100%; }
  .paperscript .console .line {
    white-space: pre-wrap;
    padding: 2px 10px;
    margin: 0; }
    .paperscript .console .line:nth-child(even) {
      background: white; }
  .paperscript .console .error {
    color: #f30; }
  .paperscript .console .warn {
    color: #f93; }
.paperscript .canvas {
  line-height: 0;
  overflow: hidden !important; }
  .paperscript .canvas canvas {
    width: 100%;
    height: 100%; }
.paperscript.split .canvas {
  border: 0;
  border-top: 0; }

.paperscript .ace_editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.paperscript .ace_gutter {
  border-right: 1px solid #999; }

.paperscript .ace_gutter-cell {
  padding-left: 13px; }

.paperscript .ace_gutter-cell.ace_error,
.paperscript .ace_gutter-cell.ace_warning {
  background-position: 0 center; }

.paperscript .ace_gutter,
.paperscript .ace_editor,
.paperscript .console .content {
  font-family: 'Akkurat-Mono', Menlo, Consolas, "Vera Mono", monospace;
  font-size: 12px;
  line-height: 17px; }

.paperscript .ace_gutter {
  font-size: 10px; }

body.large .paperscript .ace_editor,
body.large .paperscript .ace_gutter,
body.large .paperscript .console .content {
  font-size: 15px;
  line-height: 22px; }

body.large .paperscript .ace_gutter {
  font-size: 11px; }

.zoom {
  cursor: url("assets/zoom-in.png") 4 4, auto;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
  .zoom.zoom-out {
    cursor: url("assets/zoom-out.png") 4 4, auto;
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }
  .zoom.zoom-move {
    cursor: url("assets/grab.cur");
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab; }
  .zoom.zoom-grab {
    cursor: url("assets/grabbing.cur");
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.splitter_panel {
  position: relative; }
  .splitter_panel .hsplitter,
  .splitter_panel .vsplitter {
    background-color: #ddd;
    z-index: 1000; }
  .splitter_panel .vsplitter {
    cursor: col-resize;
    width: 3px; }
  .splitter_panel .hsplitter {
    cursor: row-resize;
    height: 3px; }
  .splitter_panel .vsplitter,
  .splitter_panel .left_panel,
  .splitter_panel .right_panel,
  .splitter_panel .hsplitter,
  .splitter_panel .top_panel,
  .splitter_panel .bottom_panel {
    position: absolute;
    overflow: auto; }
  .splitter_panel .vsplitter,
  .splitter_panel .left_panel,
  .splitter_panel .right_panel {
    height: 100%; }
  .splitter_panel .hsplitter,
  .splitter_panel .top_panel,
  .splitter_panel .bottom_panel {
    width: 100%; }
  .splitter_panel .top_panel,
  .splitter_panel .left_panel,
  .splitter_panel .vsplitter {
    top: 0; }
  .splitter_panel .top_panel,
  .splitter_panel .bottom_panel,
  .splitter_panel .left_panel,
  .splitter_panel .hsplitter {
    left: 0; }
  .splitter_panel .bottom_panel {
    bottom: 0; }
  .splitter_panel .right_panel {
    right: 0; }
