
.icon-download:before { content: '\e815'; } /* '' */
.icon-vector-pencil:before { content: '\e820'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-stop:before { content: '\e808'; } /* '' */
.icon-pause:before { content: '\e822'; } /* '' */
.icon-cursor:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e810'; } /* '' */
.icon-star:before { content: '\e811'; } /* '' */
.icon-grid:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-circle:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-info:before { content: '\e813'; } /* '' */
.icon-question:before { content: '\e814'; } /* '' */
.icon-trash:before { content: '\e823'; } /* '' */
.icon-article:before { content: '\e817'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-resize-full:before { content: '\e81c'; } /* '' */
.icon-resize-small:before { content: '\e81b'; } /* '' */
.icon-zoom-in:before { content: '\e806'; } /* '' */
.icon-zoom-out:before { content: '\e807'; } /* '' */
.icon-popup:before { content: '\e81d'; } /* '' */
.icon-down-dir:before { content: '\e80a'; } /* '' */
.icon-left-dir:before { content: '\e80b'; } /* '' */
.icon-right-dir:before { content: '\e80c'; } /* '' */
.icon-up-dir:before { content: '\e80d'; } /* '' */
.icon-down:before { content: '\e80e'; } /* '' */
.icon-up:before { content: '\e80f'; } /* '' */
.icon-cw:before { content: '\e81e'; } /* '' */
.icon-pencil:before { content: '\e821'; } /* '' */
.icon-vector:before { content: '\e81f'; } /* '' */
.icon-doc:before { content: '\e816'; } /* '' */