@import "bourbon/bourbon";

@include font-face("Akkurat-Mono", "http://assets.paperjs.org/fonts/akkurat-mono");

body,
html,
.paperscript {
	width: 100%;
	height: 100%;
}

body,
select,
input,
textarea {
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

body {
	background: #fff;
	margin: 0;
	font-size: 13px;
	line-height: 20px;
	color: #000;
	overflow: hidden;
	// Use normal aliasing to make it appear less heavy
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

select,
input,
textarea {
	font-size: 11px;
	margin: 0;
	color: #000;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    -webkit-box-sizing:content-box;
    -moz-box-sizing: content-box;
	box-sizing:content-box;

	&:focus {
		outline: none;
	}
	// IE hack:
	&::-ms-expand { 
		display: none; // remove default arrow on ie10 and ie11
	}
	// Firefox hack:
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	option:not(:checked) {
	  color: black; // prevent <option> from becoming transparent as well
	}
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;

	&:hover {
		background: #e5e5e5;
	}
}

img {
	border: 0;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

// Palette.js

.palettejs-pane {
	// Override global .hidden
	tr.hidden {
		display: table-row;
		visibility: hidden;
	}

	td.hidden {
		display: table-cell;
		visibility: hidden;
	}
}

.palettejs-type-slider {
	input {
		width: 100%;
		min-width: 100px;
	}
}

.palettejs-label {
	text-align: right;

	label {
		&:after {
			content: ':';
		}

		// Collapse empty labels
		&:empty {
			display: none;
		}
	}
}


// PaperScript

.paperscript {
	.gui {
		position: absolute;
		right: 0;
		z-index: 100;
		display: none;
	}

	.gui-context {
		&:hover .gui {
			display: block;
		}

		// Needed for Firefox select to stay visible when open
		@supports (-moz-appearance:none) {
			.select-focus & .gui {
				display: block;
			}
		}
	}

	.button,
	.select,
	.info,
	.palettejs-palette {
		font-size: 11px;
		line-height: 16px;
		padding: 2px 3px;
		border-radius: 4px;
		margin: 8px 8px 0 0;
		background: #eee;
		float: right;
	}

	.button,
	.select {
		float: left;
		line-height: 18px;
		height: 18px; // For .select
		border: 0;
		cursor: pointer;

		&:hover {
			background-color: #ddd;
		}

		&.active {
			background-color: #bbb;
		}
	}

	.button {
		font-size: 14px;
	}

	.select {
		padding-right: 20px;
		@include background-image(
			linear-gradient(45deg, transparent 50%, #000 50%),
			linear-gradient(135deg, #000 50%, transparent 50%)
		);
		background-position: calc(100% - 10px) 0.8em, calc(100% - 5px) 0.8em;
		background-size: 5px 5px;
		background-repeat: no-repeat;
	}

	.tools {
		float: right;

		.button {
			float: left;
		}
	}

	.source,
	.console {
		height: 100%;
	}

	.console {
		background: #f4f4f4;
		cursor: default;

		.content {
			color: #666;
			overflow: auto;
			height: 100%;
		}

		.line {
			white-space: pre-wrap;
			padding: 2px 10px;
			margin: 0;

			&:nth-child(even) {
				background: white;
			}
		}

		.error {
			color: #f30;
		}

		.warn {
			color: #f93;
		}
	}

	.canvas {
		line-height: 0; // prevent weird 5px padding under canvas elements
		overflow: hidden !important;

		canvas {
			width: 100%;
			height: 100%;
		}
	}

	&.split {
		.canvas {
			border: 0;
			border-top: 0;
		}
	}

	// Editor

	.ace_editor { 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.ace_gutter {
		border-right: 1px solid #999;
	}

	.ace_gutter-cell {
		padding-left: 14px; // enough space for errors and warnings
		position: relative;

		&.ace_error,
		&.ace_warning {
			background-position: 0 center;
		}

		&.ace_breakpoint:before {
			display: block;
			position: absolute;
			content: '';
			left: 4px;
			top: 4px;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: #f30;
			box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		} 
	}

	// Fonts

	.ace_gutter,
	.ace_editor,
	.console .content {
		font-family: "Akkurat-Mono", Menlo, Consolas, "Vera Mono", monospace;
		font-size: 13px;
		line-height: 18px;
	}

	.ace_gutter-cell {
		font-size: 11px;
		line-height: 20px;
	}

	body.large & {
		.ace_editor,
		.ace_gutter,
		.console .content {
			font-size: 16px;
			line-height: 23px;
		}

		.ace_gutter-cell {
			font-size: 12px;
			line-height: 24px;
		}
	}
}

// Tools

.zoom {
	cursor: url('assets/zoom-in.png') 4 4, auto;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;

	&.zoom-out {
		cursor: url('assets/zoom-out.png') 4 4, auto;
		cursor: -webkit-zoom-out;
		cursor: zoom-out;
	}

	&.zoom-move {
		cursor: url('assets/grab.cur');
		cursor: -moz-grab;
		cursor: -webkit-grab;
		cursor: grab;
	}

	&.zoom-grab {
		cursor: url('assets/grabbing.cur');
		cursor: -moz-grabbing; 
		cursor: -webkit-grabbing;
		cursor: grabbing;
	}
}

// Splitter

.splitter_panel {
	position: relative;

	.hsplitter,
	.vsplitter {
		background-color: #ddd;
		z-index: 1000;
	}

	.vsplitter {
		cursor: col-resize;
		width: 3px;
	}

	.hsplitter {
		cursor: row-resize;
		height: 3px;
	}

	.vsplitter,
	.left_panel,
	.right_panel,
	.hsplitter,
	.top_panel,
	.bottom_panel {
		position: absolute;
		overflow: auto;
	}

	.vsplitter,
	.left_panel,
	.right_panel {
		height: 100%;
	}

	.hsplitter,
	.top_panel,
	.bottom_panel {
		width: 100%;
	}

	.top_panel,
	.left_panel,
	.vsplitter {
		top: 0;
	}

	.top_panel,
	.bottom_panel,
	.left_panel,
	.hsplitter {
		left: 0;
	}

	.bottom_panel {
		bottom: 0;
	}

	.right_panel {
		right: 0;
	}
}

