body,
select,
input,
textarea {
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

body {
	margin: 0;
	font-size: 13px;
	line-height: 20px;
    background: #fff;
	color: #000;
	overflow: hidden;
}

select, input, textarea {
	font-size: 11px;
	margin: 0;
	color: #000;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
}

a:hover {
    background: #e5e5e5;
}

img {
	border: 0;
}

.palettejs-panel {
    position: absolute;
    top: 8px;
    right: 8px;
}